<div class="container">

  <div class="row">

    <div class="col s12 m8 l6 offset-l3 offset-m2">

      <h1 class="blue-grey-text center" style="font-family: 'Roboto';">Project Loon</h1>
      <h5 class="grey-text center" style="font-family: 'Roboto Light';">Hi there, Welcome.</h5>

    </div>

  </div>

  <div class="row">

    <div class="col s12 m8 l6 offset-l3 offset-m2">

      <div class="card-panel white hoverable">

        <h4 class="card-title grey-text center">Login with :-</h4>

        <div class="divider"></div>

        <div class="section">

          <a href="/auth/facebook" class="center-block waves-effect waves-light btn green" style="display: block !important;">Facebook</a>

        </div>

        <div class="section">

          <a href="/auth/twitter" class="center-block waves-effect waves-light btn green" style="display: block !important;">Twitter</a>

        </div>

      </div>


    </div>

  </div>

</div>
