<div class="container">

  <div class="row">

    <div class="col s12 m8 l6 offset-l3 offset-m2">

      <h1 class="blue-grey-text center" style="font-family: 'Roboto';">Project Loon</h1>
      <h5 class="grey-text center" style="font-family: 'Roboto Light';">Hi Stephen, Welcome.</h5>

    </div>

  </div>

  <div class="row">

    <div class="col s12 m8 l6 offset-l3 offset-m2">

      <div class="card-panel white hoverable">

        <h4 class="card-title grey-text center">What are your interests?</h4>

        <div class="divider"></div>

        <form action="#">

          <div class="row">

            <div class="col s6">

              <p>
                <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
                <label for="filled-in-box">Coffee</label>
              </p>

            </div>

            <div class="col s6">

              <p>
                <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
                <label for="filled-in-box">Coffee</label>
              </p>

            </div>

          </div>

          <div class="row">

            <div class="col s6">

              <p>
                <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
                <label for="filled-in-box">Coffee</label>
              </p>

            </div>

            <div class="col s6">

              <p>
                <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
                <label for="filled-in-box">Coffee</label>
              </p>

            </div>

          </div>

          <div class="row">

            <div class="col s6">

              <p>
                <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
                <label for="filled-in-box">Coffee</label>
              </p>

            </div>

            <div class="col s6">

              <p>
                <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
                <label for="filled-in-box">Coffee</label>
              </p>

            </div>

          </div>

          <button class="btn waves-effect waves-light center-block" style="display: block !important; width: 100%; margin-top: 20px" type="submit" name="action">Done
          </button>

        </form>

      </div>


    </div>

  </div>

</div>
